@import url("https://fonts.google.com/specimen/Poppinsfamily=Poppins&display=swap");
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    --red-color: hsl(0, 78%, 62%);
    --cyan-color: hsl(180, 62%, 55%);
    --orange-color: hsl(34, 97%, 64%);
    --blue-color: hsl(212, 86%, 64%); 
    --Very-Dark-Blue-color: hsl(234, 12%, 34%);
    --Grayish-Blue-color: hsl(230, 11%, 78%);
    --Very-Light-Gray-color: hsl(210, 20%, 98%);
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: var(--Very-Light-Gray-color);
    
 }
 

p {
    font-family: "Poppins";
}

 .txt-sup{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
    color: var(--Grayish-Blue-color);
    font-weight: 200;
    text-align: center;
   
    padding: 50px 0 10px 0;
 }

 .txt-sup-bold{
    letter-spacing: .8px;
    font-weight: 600;
    color: var(--Very-Dark-Blue-color);
 }

.txt-mid{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    font-size: 0.8em;
    color: var(--Grayish-Blue-color);
    font-weight: 200;
    text-align: center;
    padding: 0 0 50px 0;
}

.cont-grid {
    display: flex;
    justify-content: center;
    width:1400px;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div-grl{
    background-color: white;
    width: 100%;
    padding: 30px;
    margin: 10px;
    border: solid 1px rgb(255, 255, 255);
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 17px -13px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 3px 17px -13px rgba(0,0,0,0.5);
    box-shadow: 0px 3px 17px -13px rgba(0,0,0,0.5);
}


.grid-txt-titl {
    font-weight: 600;
    font-size: 1.2em;
    margin-bottom: 10px;
    color: var(--Very-Dark-Blue-color);
    
}

.grid-txt-cont {
    font-weight: 200;
    font-size: .8em;
    margin-bottom: 50px;
    color: var(--Grayish-Blue-color);
}

.img-align {
    display: block;
    margin-left: auto;
}

.attribution {
    margin: 80px 0 80px;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


  .card {
    display: block;
  }
  
  .cards {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-gap: 1.5rem;
  }
  
  .top-space{
    margin-top: 150px;
  }

  .inter-space{
    margin-top: 1.5rem;
  }
  @media only screen and (max-width : 900px) {
    .cards { grid-template-columns: repeat(1, 1fr); }
    .top-space{
        margin-top: 0;
      }
      
      .div-grl{
        width: 80%;
        margin: 0 auto;
    }
    .inter-space{
      margin-top: 25px;
    }
    .txt-mid{
        width: 300px;
    }
}

@media only screen and (min-width : 901px) {
    .cards { grid-template-columns: repeat(3, 1fr); 
    }
  }