@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;

}
/* generales*/
body {
    --red-color: hsl(0, 78%, 62%);
    --cyan-color: hsl(180, 62%, 55%);
    --orange-color: hsl(34, 97%, 64%);
    --blue-color: hsl(212, 86%, 64%); 
    --Very-Dark-Blue-color: hsl(234, 12%, 34%);
    --Grayish-Blue-color: hsl(230, 11%, 78%);
    --Very-Light-Gray-color: hsl(210, 20%, 98%);
    --white-color: white;
    font-family: 'Poppins', sans-serif;
    background-color: var(--Very-Light-Gray-color);
}

p {
    margin: 0.6rem 0;
    font-size: 1em;
    font-weight: 200;
}


.container{
    width: 100%;
    max-width: 1300px;
    margin: 2rem auto;
}
   
.row{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.col{
    flex-basis: 33.33%;
}

.card-gral{
    background-color: var(--white-color);

}

.direc-colum{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container article {
    background-color: var(--white-color);
    max-width: 420px;
    padding: 1.8rem;
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 17px -13px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 3px 17px -13px rgba(0,0,0,0.5);
    box-shadow: 0px 3px 17px -13px rgba(0,0,0,0.5);
}

.container article div {
    vertical-align: middle;
    text-align: right;
    padding: 1.6rem  0 0 0;
}


/* especificos*/

.border-cyan{
    border-top: solid 3.5px var(--cyan-color);
}

.border-red{
    border-top: solid 3.5px var(--red-color);
}

.border-orange{
    border-top: solid 3.5px var(--orange-color);
}

.border-blue{
    border-top: solid 3.5px var(--blue-color);
}

.header-tex{
    font-weight: 200;
}


 .txt-sup{
    font-size: 1.5em;
    color: var(--Grayish-Blue-color);
    font-weight: 200;
    text-align: center;
    padding: 3rem 0 0.8rem 0;
 }

 .txt-sup-bold{
    font-weight: 600;
    color: var(--Very-Dark-Blue-color);
 }

.txt-mid{
    margin: 0 auto;
    width: 100%;
    max-width: 550px;
    color: var(--Grayish-Blue-color);
    font-weight: 200;
    text-align: center;
    padding: 0.8rem 2rem;
}


.attribution {
    margin: 80px 0 80px;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (max-width : 900px) {
    .row{
        display: flex;
        flex-direction: column;
    }

    .container article {
        margin: 0 2rem;
    }

}